<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Debug</key>
	<true/>
	<key>KeepAlive</key>
	<false/>
	<key>Label</key>
	<string>com.black-dragon74.Pegasus</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/pegasus</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>ServiceIPC</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>/var/log/pegasus_stderr.log</string>
	<key>StandardOutPath</key>
	<string>/var/log/pegasus_stdout.log</string>
</dict>
</plist>
